<div class="container mt-6">
  <div class="columns is-centered">
    <div class="box column is-one-third">

      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input class="input" type="text" (input)="onChangeLength($any($event.target).value)"/>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeLatter()" type="checkbox"/>
            Use latter
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
            <input (change)="onChangeNumbers()"  type="checkbox"/>
            Use numbers
          </label>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <label class="checkbox">
          <input (change)="onChangeSymbols()"  type="checkbox"/>
          Use symbols
        </label>
        </div>
      </div>

      <button [disabled]="!(length && (includeLatters || includeNums || includeSymbols))"
 (click)="onButtonClick()" class="button is-link is-fullwidth" >Generate</button>

 <div class="box" *ngIf="password">
  <label for="">Your Password</label>
  <input class="input" [value]="password"  type="text">
</div>

    </div>
  </div>
</div>




{{ length }}
